<div class="check-price">
    <div class="check-price__title">
        <h1 class="title__text">Ремонт техники</h1>
        <h1 class="title__brand">Apple</h1>
        <img src="../images/Vector.png" class="title__brand-img">
    </div>
    <form action="" class="check-price__input">
            <input class="input__item" type="text" placeholder="Имя" >
            <input class="input__item" type="text" placeholder="Телефон" >
            <input class="input__item" type="text" placeholder="Опишите модель устройства и поломку" >

        <input id="checkPrice" type="submit" value="узнать цену ремонта" class="input__btn">
    </form>
</div>