<header class="header">
    <div class="logo">
        <img src="../images/Layer 1.3.png" alt="" class="logo__main">
        <img src="../images/Layer 1.png" alt="" class="logo__text">
    </div>
    <nav class="menu">
        <a href="#" class="menu__item">О нас</a>
        <a href="#" class="menu__item">Ремонт</a>
        <a href="#" class="menu__item">Проблема с устройством</a>
        <a href="#" class="menu__item menu__item-arrow">Клиентам</a>
        <a href="#" class="menu__item">Контакты</a>
        <a href="#" class="menu__item">Задать вопрос</a>
        <a href="#" class="menu__item">Магазин</a>
    </nav>
    <div class="mobile-menu">
        <div class="mobile-menu__item mobile-menu__item-first"></div>
        <div class="mobile-menu__item mobile-menu__item-second"></div>
        <div class="mobile-menu__item mobile-menu__item-third "></div>
    </div>
    <button class="diagnostic">записаться на диагностику</button>
</header>
    {{>dropWindow}}