<div class="mobile-menu">
    <div class="mobile-menu-wrap">
        <div id='menu-btn' class="menu-btn">
            <div class="menu-btn__item menu-btn__item-first"></div>
            <div class="menu-btn__item menu-btn__item-second"></div>
            <div class="menu-btn__item menu-btn__item-third "></div>
        </div>
        <nav class="list-menu">
            <a href="#" class="menu__item">О нас</a>
            <a href="#" id='mobile-repairs' class="menu__item">Ремонт</a>
            <a href="#" id='mobile-problem' class="menu__item">Проблема с устройством</a>
            <a href="#" class="menu__item menu__item-arrow">Клиентам</a>
            <a href="#" class="menu__item">Контакты</a>
            <a href="#" class="menu__item">Задать вопрос</a>
            <a href="#" class="menu__item">Магазин</a>
        </nav>
    </div>
    <button class="diagnostic-mobile">записаться на диагностику</button>
</div>