<div class="singup">
    <div class="singup__wrap">
        <div id="singUpClose" class="singup__close"></div>
        <div class="singup__body">
            <h1 class="body__title">Записаться на диагностику</h1>
            <form action="" class="singup__form">
                <input class="form__item" type="text" placeholder="Имя" >
                <input class="form__item" type="text" placeholder="Телефон" >
                <input class="form__item" type="text" placeholder="Опишите модель устройства и поломку" >

                <p class="form__text">Нажимая «Отправить заявку», вы соглашаетесь с политикой конфиндициальности</p>

                <input id="singUp" type="button" value="записаться" class="form__btn">
            </form>
        </div>
    </div>
</div>