<div class="thank-you">
    <div class="thank-you__wrap">
        <div id="thankYouClose" class="thank-you__close"></div>
        <div class="thank-you__content">
            <h1 class="content__title">Благодарим за заявку!</h1>
            <p class="content__text">Наш менеджер свяжется с вами в течении 5-ти минут</p>
            <button id="thankYouBtn" class="content__btn">спасибо!</button>
        </div>
    </div>
</div>